<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Category">
        <plugin name="custom_category_title_plugin" type="Kamephis\CustomCategoryTitle\Plugin\CustomCategoryTitlePlugin" sortOrder="10" disabled="false"/>
    </type>
</config>
